@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f27122;
  --background: #ffffff;
  --foreground: #000000;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  color: var(--foreground);
  background-color: var(--background);
}

.font-akira {
  font-family: var(--font-bebas), "Bebas Neue", sans-serif;
  letter-spacing: 0.05em;
}
